<header class="container-fluid p-5 header-bg">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="row text-left" style="margin-top: 58px;">
      <div class="col-md-8 col-sm-12">
        <h4 class="mb-3 h4 mat-subtitle-1">#1 Education Recommendation Site!</h4>
        <h1 class="mb-3 h4 mat-headline-5">Enhance<br>
          your search for education!</h1><br>
        <h4 class="mb-3 h4 mat-subtitle-1">Easy to use! AI powered!<br>
           Edubay's all-in-one platform is built to save you time!</h4><br>
      </div>
      <!--<div class="col-md-4 col-sm-12">
        <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com" />
      </div>
      <div class="col-md-4 col-sm-12">
        <button type="submit" class="btn btn-rounded mb-3 body-1"><p>Start your free trial</p></button>
      </div>-->
    </div>
  </div>
</header>