<header class="container-fluid footer-header-bg">
  <div class="row justify-content-center text-left">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <app-navbar></app-navbar><br><br><br>
      <h3>#1 Education Recommendation Site!</h3>
          <h1>Enhance<br>
            your search for education!</h1><br>
          <h3>Easy to use! AI powered!<br>
            Edubay's all-in-one platform is built to save you time!</h3><br>
    </div>
      <!--<div class="col-md-4 col-sm-12">
        <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com" />
      </div>
      <div class="col-md-4 col-sm-12">
        <button type="submit" class="btn btn-rounded mb-3 body-1"><p>Start your free trial</p></button>
      </div>-->
  </div>
</header>