<header class="container-fluid p-5 bg-primary">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="row text-left bg-primary text-secondary"  style="margin-top: 58px;">
      <div class="col-12">
        <b>#1 Education Recommendation Site!</b><br><br>
        <h1>Enhance your search<br>
        for education experience!</h1><br><br>

        <p>Easy to use! AI powered! Edubay's all-in-one platform is built to save you time!</p><br>
      </div>
      <div class="col-md-4 col-sm-12">
        <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com" >
      </div>
      <div class="col-md-4 col-sm-12">
        <button type="submit" class="btn btn-secondary text-primary mb-3"><b>Start your free trial</b></button>
      </div>
    </div>
  </div>
</header>