@import "/src/styles.scss";

.footer-header-bg{
    background-color: shift-color($primary, 10%);
    color: shift-color($primary, -90%);
}

.link{
    color: shift-color($primary, -90%);
}

.link:hover{
    color: shift-color($primary, 30%);
}