<footer class="container-fluid p-5 footer-bg">
  <div class="container"> 
     <div class="row justify-content-center"> 
         <div class="col-lg-3 col-sm-6 pt-5">
             <b>Products</b><br><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
         </div>
         <div class="col-lg-3 col-sm-6 pt-5">
             <b>About</b><br><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
         </div>
         <div class="col-lg-3 col-sm-6 pt-5">
             <b>Resources</b><br><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
         </div>
         <div class="col-lg-3 col-sm-6 pt-5">
             <b>Help</b><br><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
             <a class="link" href="#">Lorem ipsum</a><br>
         </div>
         <div class="col-12  pt-5">
             <hr>
             <p>©2022 @ EduBay Cogninet<p>
         </div>
     </div>
 </div>
</footer>