@import "/src/styles.scss";

.container-fluid{
    padding: 0% 17%
  }
  

.navbar-nav > li > .dropdown-menu{
    background-color: shift-color($primary, 20%);
    color: shift-color($primary, -90);
}

.footer-header-bg-darker, .navbar-toggler{
    background-color: shift-color($primary, 20%);
    color: shift-color($primary, -90%);
}

.btn{
    background-color: shift-color($tertiary, 0%);
    color: shift-color($tertiary, 50%);
    font-weight: bold;
}
  
 .hover-class:hover {
    background-color: shift-color($tertiary, 20%);
    color: shift-color($tertiary, -90%);
}
  
a{
    color: shift-color($primary, -90%);
}

a:active{
  color: shift-color($primary, 40%);
}

a:hover{
  color: shift-color($primary, 40%);
}

a:disabled{
  color: shift-color($primary, 20%);
}
