@import "/src/styles.scss";

.navbar-nav > li > .dropdown-menu{
    background-color: shift-color($primary, 20%);
    color: shift-color($primary, -70%);
}

.footer-header-bg-darker, .navbar-toggler{
    background-color: shift-color($primary, 20%);
    color: shift-color($primary, -70%);
}

.btn{
    background-color: shift-color($tertiary, 0%);
    color: shift-color($tertiary, 50%);
    font-weight: bold;
}
  
 .hover-class:hover {
    background-color: shift-color($tertiary, 10%);
    color: shift-color($tertiary, -70%);
}
  
.link{
    color: shift-color($primary, -70%);
}

.link:hover{
    background-color: shift-color($primary, -70%);
    color: shift-color($primary, 20%);
}