<div class="container-fluid text-primary">
    <div class="container text-center">
        <h1>Your complete education recommendation system</h1><br>
    </div>

    <ul id="myTab" class="nav nav-tabs nav-fill link-primary">
            <li class="nav-item">
                <a href="#home" class="nav-link active" data-bs-toggle="tab"><b>Personalised Recommendation</b></a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-bs-toggle="tab"><b>Application Management</b></a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link" data-bs-toggle="tab"><b>Subscription</b></a>
            </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <p></p>
                <ul>
                    <li>Aliquip placeat salvia cillum iphone.</li><br>
                    <li>Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</li><br>
                    <li>Raw denim you probably haven't heard of them jean shorts Austin.</li><br>
                    <li>Nesciunt tofu stumptown aliqua, retro synth master cleanse.</li><br>
                </ul>
            <p></p>
        </div>
        <div class="tab-pane fade" id="profile">
            <p></p>
                <ul>
                    <li>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque.</li><br>
                    <li>Vivamus nibh urna, ornare id gravida ut, mollis a magna.</li><br>
                    <li>Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut.</li><br>
                    <li>Nam hendrerit bibendum turpis, sed molestie mi fermentum id.</li><br>
                </ul>
            <p></p>
        </div>
        <div class="tab-pane fade" id="messages">
            <p><app-pricing></app-pricing></p>
        </div>
    </div>
</div>