<div class="container-fluid text-center">
    <h2>Your complete education recommendation system</h2><br><br>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 pt-1">
              <div class="card text-left h-100 mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Personalised Recommendations</h5><br>
                    <ul>
                        <li>Aliquip placeat salvia cillum iphone.</li><br>
                        <li>Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</li><br>
                        <li>Raw denim you probably haven't heard of them jean shorts Austin.</li><br>
                        <li>Nesciunt tofu stumptown aliqua, retro synth master cleanse.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 pt-1">
            <div class="card text-left h-100 mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Application Management</h5><br>
                    <ul>
                        <li>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque.</li><br>
                        <li>Vivamus nibh urna, ornare id gravida ut, mollis a magna.</li><br>
                        <li>Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut.</li><br>
                        <li>Nam hendrerit bibendum turpis, sed molestie mi fermentum id.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>