<div class="container-fluid justify-content-center background-bg">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8">
            <img src="assets/EduBay_logo.svg" alt="EduBay_logo" height="55"><br><br>
        </div>
    </div>
    <div class="row justify-content-center text-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8">    
            <h3 class="mb-3">Ready to get started?</h3>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" placeholder="name@example.com"/>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            <button mat-button class="btn btn-rounded me-3 hover-class">Subscribe</button><br><br>
        </div>
    </div>
</div>