@import "/src/styles.scss";

.background-bg{
    background-color: shift-color($primary, -90%);
    color: shift-color($primary, 10%);
}

.btn{
    background-color: shift-color($tertiary, 0%);
    color: shift-color($tertiary, 50%);
    font-weight: bold;
}
  
 .hover-class:hover {
    background-color: shift-color($tertiary, 20%);
    color: shift-color($tertiary, -90%);
}
